body {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  right: 0;
  align-items: center;
  min-height: 5rem;
  justify-content: space-evenly;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll
}

.chat-message-left, .chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}

.message-list {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.message-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 5rem;
  display: flex;
  background: white;
  align-items: center;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}

.flex-grow-0 {
  flex-grow: 0!important;
}

.border-top {
  border-top: 1px solid #dee2e6!important;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: 600;
}

div[class^="chat-message-"] .text-muted {
  color: #afafaf !important;
}

div[class^="chat-message-"] .chat-message__text {
  cursor: default;
}

.chat-message-left .chat-message__text {
  margin-left: 1rem !important;
  margin-right: 0.25rem !important;
}

.chat-message-right .chat-message__text {
  margin-right: 1rem !important;
  margin-left: 0.25rem !important;
}

.chat-message-left .chat-message__bottom {
  flex-direction: row;
}

.chat-message-right .chat-message__bottom {
  flex-direction: row-reverse;
}

.chat-message__bottom > *{
  margin: 0 .25em;
}

.chat-message__features {
  display: none;
}

div[class^="chat-message-"]:hover .chat-message__features  {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.like {
  cursor: pointer;
}

.chat-message__features span:hover > i:first-child,
.chat-message__features span:not(.liked) i[class$='-fill'],
.like:not(.liked):hover > i:first-child,
.like.liked > i:first-child,
.like:not(.liked) i[class$='-fill'] {
  display: none;
}

.chat-message__features span:hover i[class$='-fill'],
.like:hover i[class$='-fill']  {
  display: inline-block;
}

.divider {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ddd;
  color: darkgrey;
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.divider span { 
   background:#fff; 
   padding:0 10px; 
}

.modal {
  display: block;
}